<html>
	<head>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<% former_groupes %>
		
		<h2> <%= "Nombre d'élèves par groupe" %> </h1>
		<table border="1">
		<tr>
			<th>Groupe</th>
			<th>Total</th>
		</tr>
		
		<% Groupe.tous.each do |groupe| %>
			<tr>
				<td>
					<a href=<%= "afficher.rhtml?nom=#{groupe.nom}" %> > <%= groupe.nom %></a>
				</td>
				<td><%= groupe.total %></td>
			</tr>	
		<% end %>	
		</table>

		<h2> <%= "Nombre d'élèves par classe" %> </h1>
		<table border="1">
		<tr>
			<th>Classe</th>
			<th>Total</th>
		</tr>
		
		<% Classe.tous.each do |classe| %>
			<tr>
				<td><a href=<%= "../classes/afficher.rhtml?nom=#{classe.nom}" %> > <%= classe.nom %></a></td>
				<td><%= classe.total %></td>
			</tr>	
		<% end %>	
		</table>
	</body>
</html>