<html>
	<head>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<% groupe = servlet_request.query['gr'] %>
		<% eleves = Eleve.all.select{|eleve| eleve.groupe == groupe}.sort{|a,b| a.nom <=> b.nom}%>
		<h1> <%= "Liste des élèves du groupe #{groupe}" %> </h1>
		<ul>
		<% eleves.each do |eleve| %>
			<li><%= eleve.to_s %></li>	
		<% end %>	
		</ul>
	</body>
</html>