<html>
	<head><meta charset="UTF-8"></head>
	<body>
		<h1> Listes des groupes d'élèves - JDLM</h1>
		<table border="1">
			<% Groupe.tous.each do |groupe| %>
				<tr>
					<td><a href="afficher.rhtml?nom=<%= groupe.nom %>"> <%= groupe.nom %>  </a></td> 
					<td> <%= groupe.niveau %> </td> 
					<td> <%= groupe.total %> </td> 
				</tr>
			<% end %>	
		</table>
	</body>
</html>