<%= ouverture %>
	<h2>Utilitaires</h2>
	<h3>Importer</h3>
	<ul>
		<li><a href="../eleves/importer.rhtml?niveau=S1"> Élèves S1</a></li>
		<li><a href="../eleves/importer.rhtml?niveau=S2"> Élèves S2</a></li>
		<li><a href="../eleves/importer.rhtml?niveau=S3"> Élèves S3</a></li>
		<li><a href="../eleves/importer.rhtml?niveau=S4"> Élèves S4</a></li>
		<li><a href="../eleves/importer.rhtml?niveau=S5"> Élèves S5</a></li>
	</ul>
<%= fermeture %>