<%= ouverture %>
<% configurer_regle_afficher %>

	<h2> Liste des règles </h2>
	<table border="1">
	<tr>
		<th>Niveau</th>
		<th>Attribut</th>
		<th>Groupes permis</th>
	</tr>
	<% @regles.each do |regle| %>
		<tr>
			<td><%= regle.niveau %></td>
			<td><%= regle.attribut %></td>
			<td><%= regle.groupes_permis.collect{|x| x.nom}.join(", ") %></td>
		</tr>	
	<% end %>	
	</table>
<%= fermeture %>