<h1> Formation des groupes - JDLM - 1.1</h1> 
	<nav>
		<table border="1">
			<tr>
				<th>Groupes</th>
				<th>Règles</th>
				<th>Élèves</th>
				<th>Classes</th>
				<th>Utilitaires</th>
				<th>Former 
				</th>	
			</tr>
			<tr>
				<td>
					<a href="../groupes/index.rhtml?niveau=S1">1</a>, 
					<a href="../groupes/index.rhtml?niveau=S2">2</a>,
					<a href="../groupes/index.rhtml?niveau=S3">3</a>,
					<a href="../groupes/index.rhtml?niveau=S4">4</a>,
					<a href="../groupes/index.rhtml?niveau=S5">5</a>
				</td> 
				<td>
					<a href="../regles/afficher.rhtml?niveau=S1">1</a>, 
					<a href="../regles/afficher.rhtml?niveau=S2">2</a>,
					<a href="../regles/afficher.rhtml?niveau=S3">3</a>,
					<a href="../regles/afficher.rhtml?niveau=S4">4</a>,
					<a href="../regles/afficher.rhtml?niveau=S5">5</a>
				</td> 
				<td>
					<a href="../eleves/liste.rhtml?niveau=S1">1</a>, 
					<a href="../eleves/liste.rhtml?niveau=S2">2</a>,
					<a href="../eleves/liste.rhtml?niveau=S3">3</a>,
					<a href="../eleves/liste.rhtml?niveau=S4">4</a>,
					<a href="../eleves/liste.rhtml?niveau=S5">5</a>
				</td> 
				<td>
					<a href="../classes/index.rhtml?niveau=S1">1</a>, 
					<a href="../classes/index.rhtml?niveau=S2">2</a>,
					<a href="../classes/index.rhtml?niveau=S3">3</a>,
					<a href="../classes/index.rhtml?niveau=S4">4</a>,
					<a href="../classes/index.rhtml?niveau=S5">5</a>
				</td> 
				<td>
					<a href="../utilitaires/index.rhtml">Tous</a>
				</td>
				<td>
					<a href="../groupes/former.rhtml?niveau=S1"> S1, </a> 
					<a href="../groupes/former.rhtml?niveau=S2"> S2, </a> 

				</td>
			</tr>
		</table>
	</nav>