<html>
	<body>
		<h1> Formation des groupes JDLM</h1>
		<h2>RHTML</h2>
		<a href="http://localhost:8000/bonjour"> Bonjour! </a><br>
		<a href="http://localhost:8000/hello"> Hello! </a>
		<ul>
			<% 11.times do |groupe| %>
				<li> <%= groupe + 101 %> </li>
			<% end %>	
		</ul>
	</body>
</html>