<%= ouverture %>
<% configurer_eleve_importer(servlet_request)%>

	<h2>Importer <%=@niveau%></h2>
	<table>
	<% @rapport.each do |ligne| %>
		<tr>
			<td><%= ligne %></td>
		</tr>
	<% end %>
	</table>
<%= fermeture %>