<html>
	<head>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<% nom = servlet_request.query['nom'] %>
		<% classe = Classe.obtenir(nom) %>
		<h1> <%= "Liste de la classe #{classe.nom} [#{classe.total}]" %> </h1>
		<table border="1">
		<% classe.eleves.sort{|a,b| a.nom <=> b.nom}.each do |eleve| %>
			<tr>
				<td><%= eleve.numero %></td>
				<td><%= eleve.nom %></td>
				<td><%= eleve.prenom %></td>
				<td><%= eleve.niveau %></td>
				<td><%= eleve.groupe.nom %></td>
				<td><%= eleve.sexe%></td>
				<td><%= eleve.attributs.join(", ")%></td>
			</tr>	
		<% end %>	
		</table>
	</body>
</html>